html{
  height: 100%;
  padding-bottom: 1rem;
}
body{
  background-color: #2196F3;
  height: 100%;
  width:100%;
  margin:0;
  display: block;

}
.add-img{
  height:4vw;
  width:4vw;
  position: absolute;
  right:3vw;
  bottom:4vh;
}
.bg-div{
  height:inherit;
  background-color: #fff;
  position: relative;
  width:94%;
  margin:auto auto;
  min-height: 27vh;
  border-radius:1.5rem;
}
.header-div{
  width:94%;
  height:9vh;
  display: flex;
  background-color: #fff;
  margin: 1rem auto;
  border-radius: 1.8rem;
  padding: 3px 2px;

}
.out-div{

  margin-top: 1rem;

}
.header-title{
  display: inline-block;
  position: relative;
}
.title{
  font-size: 2.5vw;
  margin:  0;
  position: absolute;
  left:2.5vw;
  top:1.5vh;
  font-family: 'Cookie', cursive;
  font-weight: bold;
  color: #344CB7
}
.message{
  font-size: 3vw;
  color: #80868B;
  margin: 0;
  position: absolute;
  left:33vw;
  top:10vh;
  font-family: 'Dongle', sans-serif;
  visibility: visible;
}
.tasks{

  padding:10px;
  height:auto;
  width:80%;
  margin: auto ;
  visibility: hidden;
  display:table;
}
#task-item{
  list-style-type: none;
  font-size: 25px;
}
input.input_c{
  border: none;
  outline: none;
font-size: 1.6vw;
font-family: 'Comfortaa', cursive;;

width:60vw;
}
.delimage{
  height:25px;
  width:25px;
  position: relative;
  top: 5px;
}
.check-box{
  height:2vw;
  width:2vw;
  position: relative;
  top: 5px;
}
@media only screen and (max-width: 600px) {
.delimage{
  height:3vw;
  width:3vw;
  position: relative;
  top: 5px;
}
.check-box{
  height:3.5vw;
  width:3.5vw;

}
.input_c{
  width:50vw;
}
.tasks{
  width:100%;
}
.title{
  font-size: 5vw;
}
}

@media only screen and (max-width: 768px) {
  font-size: 5vw;
}
